.git
.github
.idea
.vscode
node_modules
vendor
public/build
public/hot
public/storage
bootstrap/ssr
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
resources/js/actions
resources/js/routes
resources/js/wayfinder
.env
.env.*
!.env.example
